body {
    padding-top: 30px;
    background-color: #FEFEFE;
}
footer{
    height: 100px;
    background-color: #1A1A1A;
    text-align: center;
    color: #fff;
    padding: 20px 0px;
}
section{
    padding: 20px 0px;
}
section h1{
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}
.carousel-item{
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about-fa{
    color: #cd4542;
}
.about__item{
    padding-bottom: 20px;
}
.about__item h4{
    margin-top: 0;
}
.about__link{
    color: #cd4542;
}
.about__link:hover{
    text-decoration: none;
    color: #AD3B39;
}
.about__register-wrap{
    text-align: center;
    padding: 20px 0px;
}
.about-icon__wrap{
    text-align: center;
}
.rate__wrap{
}
.rate-carousel-item,
.news__item{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}
.rate-carousel-item h4{
    margin-top: 0;
}
.paysystems__img{
    padding: 20px 10px;
}
.news__wrap{
    background-color: #FAFAFA;
}
.contacts__textarea{
    resize: none;
}
.contacts__ul{
    list-style: none;
    padding-left: 0;
}
.contacts__img{
    width: 25px;
    height: 25px;
}
.overflow{
    overflow: hidden;
}
.about__overflow,
.rate__overflow,
.news__overflow{
    height: 105px;
}

.video_container{
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-left: -16px;
    height: 600px;
}
#video_container video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}
.video_container_after{
    position: relative;
    z-index: 1;
}
.regulations{
    background-color: #f8f8f8;
}
.about{
    background-color: #FAFAFA;
}
.greetings_img_wrap{
    width: 100%;
    overflow: hidden;
}
.greetings_img{
    width: 100%;
}
.greetings_txt{
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 486px) {
    .about-fa {
        font-size: 4em;
    }
    .news__item{
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 486px) {
    .about-fa {
        font-size: 6em;
    }
    .news__item{
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 576px) {
    .about-fa {
        font-size: 7em;
    }
    .news__item{
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1024px) {
    .news__item{
        margin-bottom: 0px;
    }
}