html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 72px;
    background-color: #FEFEFE;
    margin-bottom: 100px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #1A1A1A;
    text-align: center;
    color: #fff;
    padding: 20px 0px;
}
section{
    padding: 20px 0px;
}
section h1{
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}
.carousel-item{
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about-fa{
    color: #cd4542;
}
.about__item{
    padding-bottom: 20px;
}
.about__item h4{
    margin-top: 0;
}
.about__link{
    color: #cd4542;
}
.about__link:hover{
    text-decoration: none;
    color: #AD3B39;
}
.about__register-wrap{
    text-align: center;
    padding: 20px 0px;
}
.about-icon__wrap{
    text-align: center;
}
.rate__wrap{
}
.rate-carousel-item,
.news__item{
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}
.rate-carousel-item h4{
    margin-top: 0;
}
.paysystems__img{
    padding: 20px 10px;
}
.rate__wrap{
    background-color: #FAFAFA;
}
.contacts__textarea{
    resize: none;
}
.contacts__ul{
    list-style: none;
    padding-left: 0;
}
.contacts__img{
    width: 25px;
    height: 25px;
}
.overflow{
    overflow: hidden;
}
.about__overflow,
.rate__overflow,
.news__overflow{
    height: 105px;
}

.video_container{
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-left: -16px;
    height: 600px;
}
#video_container video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}
.video_container_after{
    position: relative;
    z-index: 1;
}
.questions{
    background-color: #f8f8f8;
}
.about{
    background-color: #FAFAFA;
}
.greetings_title{
    text-transform: uppercase;
}

.greetings_img_wrap{
    width: 100%;
    overflow: hidden;
}
.greetings_img{
    width: 100%;
}
.greetings_txt{
    margin-top: 20px;
    text-align: justify;
}
.l-steps__item-about {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 15px;
    padding-bottom: 26px;
    border-bottom: 1px solid #CB4245;
    min-height: 90px;
    margin-bottom: 22px;
}
.l-steps__item-number {
    color: #CB4245;
    font-size: 72px;
    font-weight: 900;
}
.cut{
    margin-top: 30px;
}
.carousel-caption{
    padding-bottom: 17%;
}
.navbar-default{
    background-color: #262626 !important;
    margin-bottom: 0;
}
#home{
    padding-top: 0;
}
.navbar-green{
    background-color: #00B600 !important;
}
.dropdown-menu {
    background-color: rgba(0,0,0, 0.7);
    border-radius: 0px;
    margin-top: -1px !important;
}
.dropdown-menu > li > a {
    color: #fff;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #EAB52A !important;
}
.new_nav > li > a:focus, .new_nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}
.navbar-brand {
    padding: 0px 15px;
    height: 100%;
}
.top-main-menu__menu_left{
    padding: 25px;
}
.top-main-menu__menu_right{
    width: auto !important;
    padding: 11px;
}
.top-main-menu__menu_right li{
    border: 1px solid #fff;
}
.top-main-menu__menu_right li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.top-main-menu__menu_right li a:hover{
    background-color: transparent;
    color: #EAB52A !important;
}
.top-main-menu__menu_right li a:focus,
.top-main-menu__menu_right li a:active{
    background-color: transparent;
}
.regulations{
    min-height: 450px;
}
.feedback__section{
    background-color: #F8F8F8;
    min-height: 450px;
}
.contacts-information__section{
    min-height: 400px;
}
.about__img{
    overflow: hidden;
}
.about__img img{
    width: 100%;
}
.rate__img{
    overflow: hidden;
}
.rate__img img{
    width: 100%;
}
.mt20{
    margin-top: 20px !important;
}
.confidency{
    background-color: #3D3D3D;
    color: #fff;
}
.confidency a{
    color: #fff;
}
@media screen and (max-width: 486px) {
    .about-fa {
        font-size: 4em;
    }
    .news__item{
        margin-bottom: 20px;
    }
    .l-steps__item-about {
        min-height: 0;
        padding-bottom: 10px;
        font-size: 16px;
    }
    .steps__item-number {
        font-size: 50px;
    }
    .greetings__wrap{
        background-color: #fff;
        position: relative;
        margin-top: 0px;
        z-index: 2;
        padding: 0px ;
        box-shadow: none;
    }
    .greetings_subtitle{
        margin-top: 20px;
    }
    .rate-carousel__button{
        width: 100%;
        margin-bottom: 10px;
    }
    .rate__img{
        height: 130px;
    }
    .btn-carousel{
        width:100%;
        margin-bottom: 10px;
    }
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
    }
}
@media screen and (min-width: 486px) {
    .about-fa {
        font-size: 6em;
    }
    .news__item{
        margin-bottom: 20px;
    }
    .l-steps__item-about {
        min-height: 0;
        padding-bottom: 10px;
        font-size: 16px;
    }
    .steps__item-number {
        font-size: 50px;
    }
    .greetings__wrap{
        background-color: #fff;
        position: relative;
        margin-top: 0px;
        z-index: 2;
        padding: 0px ;
        box-shadow: none;
    }
    .greetings_subtitle{
        margin-top: 20px;
    }
    .rate-carousel__button{
        width: 100%;
        margin-bottom: 10px;
    }
    .rate__img{
         height: 130px;
     }
    .btn-carousel{
        width:100%;
        margin-bottom: 10px;
    }
    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
    }
}
@media screen and (min-width: 576px) {
    .about-fa {
        font-size: 7em;
    }
    .news__item{
        margin-bottom: 20px;
    }
    .l-steps__item-about {
        min-height: 0;
        padding-bottom: 10px;
        font-size: 16px;
    }
    .steps__item-number {
        font-size: 50px;
    }
    .greetings__wrap{
        background-color: #fff;
        position: relative;
        margin-top: 0px;
        z-index: 2;
        padding: 0px ;
        box-shadow: none;
    }
    .greetings_subtitle{
        margin-top: 20px;
    }
    .rate-carousel__button{
        width: 100%;
        margin-bottom: 10px;
    }
    .rate__img{
        height: 130px;
    }
    .btn-carousel{
        width: auto;
    }
    .navbar-nav > li {
        float: none !important;
        display: block !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
    }
}
@media screen and (min-width: 750px) {
    .top-main-menu__wrap{
        float: left;
    }
    .top_hidden_menu{
        display: none;
    }
    .btn-carousel{
        width: auto;
    }
}


@media screen and (min-width: 1024px) {
    .news__item{
        margin-bottom: 0px;
    }
    .l-steps [class*="col-"]:not(:last-child)::after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: #ccc;
        position: absolute;
        top: -20px;
        right: 9px;
    }
    .l-steps [class*="col-"]:not(:last-child)::before {
        content: '';
        width: 54px;
        height: 54px;
        border-right: 1px solid #adabab;
        border-bottom: 1px solid #adabab;
        position: absolute;
        top: -36px;
        bottom: 0;
        z-index: 1;
        right: -18px;
        margin: auto;
        background-color: #fff;
        -webkit-transform: scaleX(0.5) rotate(-45deg);
        transform: scaleX(0.5) rotate(-45deg);
    }
    .l-steps [class*="col-"]:first-child {
        padding-right: 65px;
        height: 405px;
    }
    .l-steps [class*="col-"]:last-child {
        padding-left: 65px;
        height: 405px;
    }
    .l-steps [class*="col-"]{
        height: 405px;
    }
    .big_p{
        padding: 0px 65px;
    }
    .greetings__wrap{
        background-color: #fff;
        position: relative;
        margin-top: -180px;
        z-index: 2;
        padding: 40px 38px ;
        box-shadow: 2.5px 4.3px 24px rgba(1, 1, 1, 0.09);
    }
    .greetings_subtitle{
        margin-top: 0;
    }
    .top-main-menu__wrap{
        float: left;
    }
    .rate-carousel__button{
        width: auto;
    }
    .rate__img{
        height: 205px;
    }
    .btn-carousel{
        width: auto;
    }
}