html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 72px;
    background-color: #FEFEFE;
    margin-bottom: 100px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #1A1A1A;
    text-align: center;
    color: #fff;
    padding: 20px 0px;
}
section{
    padding: 20px 0px;
}
section h1{
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}
.carousel-item{
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about-fa{
    color: #cd4542;
}
.about__item{
    padding-bottom: 20px;
}
.about__item h4{
    margin-top: 0;
}
.about__link{
    color: #cd4542;
}
.about__link:hover{
    text-decoration: none;
    color: #AD3B39;
}
.about__register-wrap{
    text-align: center;
    padding: 20px 0px;
}
.about-icon__wrap{
    text-align: center;
}
.rate-carousel-item h4{
    margin-top: 0;
}
.paysystems__img{
    padding: 20px 10px;
}
.contacts__textarea{
    resize: none;
}
.contacts__ul{
    list-style: none;
    padding-left: 0;
}
.contacts__img{
    width: 25px;
    height: 25px;
}
.contacts_ico{
    font-size: 25px;
}
.overflow{
    overflow: hidden;
}
.about__overflow,
.rate__overflow,
.news__overflow{
    height: 105px;
}

.video_container{
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-left: -16px;
    height: 600px;
}
#video_container video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}
.video_container_after{
    position: relative;
    z-index: 1;
}
.questions{
    background-color: #f8f8f8;
}
.greetings_title{
    text-transform: uppercase;
}

.greetings_img_wrap{
    width: 100%;
    overflow: hidden;
}
.greetings_img{
    width: 100%;
}
.greetings_txt{
    margin-top: 20px;
    text-align: justify;
}
.l-steps__item-about {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 15px;
    padding-bottom: 26px;
    border-bottom: 1px solid #CB4245;
    min-height: 90px;
    margin-bottom: 22px;
}
.l-steps__item-number {
    color: #CB4245;
    font-size: 72px;
    font-weight: 900;
}
.cut{
    margin-top: 30px;
}
.carousel-caption{
    padding-bottom: 17%;
}
#home{
    padding-top: 0;
}
.regulations{
    min-height: 450px;
    background-color: #262626;
    color: #fff;
}
.feedback__section{
    background-color: #F8F8F8;
    min-height: 450px;
}
.contacts-information__section{
    min-height: 400px;
}
.about__img{
    overflow: hidden;
}
.about__img img{
    width: 100%;
}
.rate__img img{
    width: 100%;
}
.mt20{
    margin-top: 20px !important;
}
.confidency{
    background-color: #3D3D3D;
    color: #fff;
}
.confidency a{
    color: #fff;
}
.dark__wrap{
    background-color: #222;
}
.register-form__wrap{
    background-color: #fff;
    margin: 0px auto;
}
.register-form__header{
    background-color: #00B600;
    width: 100%;
    text-align: center;
    padding: 20px;
    position: relative;
}
.form-signin-heading{
    text-transform: uppercase;
}
.register-form__inputs{
    padding: 20px;
}
.register-form__inputs input{
    border-radius: 0px;
}
.register__add-buttons{
    margin-top: 30px;
}
.register__add-buttons a{
    color: #fff;
}
.register-form__inputs-bottom{
    background-color: #e0e0e0;
}
@media screen and (max-width: 486px) {
    .about-fa {
        font-size: 4em;
    }
    .news__item{
        margin-bottom: 20px;
    }
    .l-steps__item-about {
        min-height: 0;
        padding-bottom: 10px;
        font-size: 16px;
    }
    .steps__item-number {
        font-size: 50px;
    }
    .greetings__wrap{
        background-color: #fff;
        position: relative;
        margin-top: 0px;
        z-index: 2;
        padding: 0px ;
        box-shadow: none;
    }
    .greetings_subtitle{
        margin-top: 20px;
    }
    .rate-carousel__button{
        width: 92%;
        margin-bottom: 10px;
    }
    .btn-carousel{
        width:100%;
        margin-bottom: 10px;
    }
    body {
        padding-top: 72px;
    }
    .register-form__wrap{
        width: 100%;
    }

    .steps{
        padding-bottom: 12vw;
    }
    .price-info-item {
        width: 100%;
    }
}
@media screen and (min-width: 486px) {
    .about-fa {
        font-size: 6em;
    }
    .news__item{
        margin-bottom: 20px;
    }
    .l-steps__item-about {
        min-height: 0;
        padding-bottom: 10px;
        font-size: 16px;
    }
    .steps__item-number {
        font-size: 50px;
    }
    .greetings__wrap{
        background-color: #fff;
        position: relative;
        margin-top: 0px;
        z-index: 2;
        padding: 0px ;
        box-shadow: none;
    }
    .greetings_subtitle{
        margin-top: 20px;
    }
    .rate-carousel__button{
        width: 92%;
        margin-bottom: 10px;
    }
    .btn-carousel{
        width:100%;
        margin-bottom: 10px;
    }
    body {
        padding-top: 72px;
    }
    .register-form__wrap{
        width: 100%;
    }

    .steps{
        padding-bottom: 12vw;
    }
    .price-info-item {
        width: 100%;
    }
}
@media screen and (min-width: 576px) {
    .about-fa {
        font-size: 7em;
    }
    .news__item{
        margin-bottom: 20px;
    }
    .l-steps__item-about {
        min-height: 0;
        padding-bottom: 10px;
        font-size: 16px;
    }
    .steps__item-number {
        font-size: 50px;
    }
    .greetings__wrap{
        background-color: #fff;
        position: relative;
        margin-top: 0px;
        z-index: 2;
        padding: 0px ;
        box-shadow: none;
    }
    .greetings_subtitle{
        margin-top: 20px;
    }
    .rate-carousel__button{
        width: 92%;
        margin-bottom: 10px;
    }
    .btn-carousel{
        width: auto;
    }
    body {
        padding-top: 72px;
    }
    .register-form__wrap{
        width: 300px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        background-color: transparent !important;
    }
    .dropdown-menu {
        padding-bottom: 0 !important;
    }
    .steps{
        padding-bottom: 12vw;
    }
    .price-info-item {
        width: 100%;
    }
}
@media screen and (min-width: 750px) {
    .btn-carousel{
        width: auto;
    }
    body {
        padding-top: 134px;
    }
    .register-form__wrap{
        width: 40%;
    }
    .steps{
        padding-bottom: 12vw;
    }
    .rate-carousel__button{
        width: 92%;
        margin-bottom: 10px;
    }
    .price-info-item {
        width: 49%;
    }
}


@media screen and (min-width: 1024px) {
    .news__item{
        margin-bottom: 20px;
    }
    .l-steps [class*="col-"]:not(:last-child)::after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: #ccc;
        position: absolute;
        top: -20px;
        right: 9px;
    }
    .l-steps [class*="col-"]:not(:last-child)::before {
        content: '';
        width: 54px;
        height: 54px;
        border-right: 1px solid #adabab;
        border-bottom: 1px solid #adabab;
        position: absolute;
        top: -36px;
        bottom: 0;
        z-index: 1;
        right: -18px;
        margin: auto;
        background-color: #fff;
        -webkit-transform: scaleX(0.5) rotate(-45deg);
        transform: scaleX(0.5) rotate(-45deg);
    }
    .l-steps [class*="col-"]:first-child {
        padding-right: 65px;
        height: 405px;
    }
    .l-steps [class*="col-"]:last-child {
        padding-left: 65px;
        height: 405px;
    }
    .l-steps [class*="col-"]{
        height: 405px;
    }
    .big_p{
        padding: 0px 65px;
    }
    .greetings__wrap{
        background-color: #fff;
        position: relative;
        margin-top: -180px;
        z-index: 2;
        padding: 40px 38px ;
        box-shadow: 2.5px 4.3px 24px rgba(1, 1, 1, 0.09);
    }
    .greetings_subtitle{
        margin-top: 0;
    }
    .rate-carousel__button{
        width: auto;
    }
    .btn-carousel{
        width: auto;
    }
    body {
        padding-top: 134px;
    }
    .register-form__wrap{
        width: 40%;

    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        background-color: transparent !important;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        margin-right: -2px;
        min-width: 127px;
        padding-bottom: 0 !important;
    }

    .bottom-border{
        border: none !important;
    }
    .no-top-border{
        border: none !important;
    }
    .steps{
        padding-bottom: 7vw;
    }
    .price-info-item {
        width: 30.333%;
    }
}
.news_title img{
    width: 100%;
}
.news__description{
    text-align: left;
}
.news__description h4{
    margin-top: 0;
}
.news-show__img img{
    width: 100%;
}
.news-show__text{
    margin-top: 20px;
    margin-bottom: 50px;
}
.vk_color{
    color: #507299;
}
.fb_color{
    color: #3b5998;
}
.ok_color{
    color: #ed812b;
}
.tw_color{
    color: #1da1f2;
}
.tl_color{
    color: #0088cc;
}
.ins_color{
    color: #405de6;
}
.contacts_ico:hover{
    text-decoration: none;
}
.tariff-info__page__item{
    text-align: left;
}
.about:after{
    content: "";
    background: transparent;

    position: absolute;
    left: 0;
    bottom: 0;

    border-top: 10vw solid transparent;
    border-right: 50vw solid #FEFEFE;
    border-left: 50vw solid #FEFEFE;
}
.about{
    background-color: #FAFAFA;
    position: relative;
    padding-bottom: 7vw;
    overflow-x: hidden;
}
.steps:after{
    content: "";
    background: transparent;

    position: absolute;
    left: 0;
    bottom: 0;

    border-top: 10vw solid transparent;
    border-right: 50vw solid #FAFAFA;
    border-left: 50vw solid #FAFAFA;
}
.steps{
    position: relative;
    overflow-x: hidden;
}