
.icon-vk:before { content: '\e800'; } /* '' */
.icon-fb:before { content: '\e801'; } /* '' */
.icon-ins:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-tw:before { content: '\e805'; } /* '' */
.icon-tl:before { content: '\e806'; } /* '' */