.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #00B600;
    background-color: transparent;
    font-weight: bold;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav-sidebar a{
    color: #00B600;
}
.user-cabinet__menu{
    list-style: none;
    padding-left: 0;
}
.user-sidebar li{
    border-bottom: 1px solid #fff;
    height: 55px;
}
.user-sidebar .active:before{
    content: '';
    width: 15px;
    background-color: #00B600;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
}
.user-sidebar li:before{
    content: '';
    width: 15px;
    background-color: #63B563;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
}
.user-sidebar li a{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-left: 30px;
    color: #9E9E9E;
    font-weight: bolder;
}
.user-sidebar li:hover:before{
    background-color: #EAB52A;
}
.user__sidebar__call{
    color: #fff;
}
.user__sidebar__call:hover{
    cursor: pointer;
}

.user__sidebar__wrap{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    padding: 10px 13px;
    background-color: #00B600;
    z-index: 1111111111111;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(50, 50, 50, 0.36);
    -moz-box-shadow:    1px 1px 7px 0px rgba(50, 50, 50, 0.36);
    box-shadow:         1px 1px 7px 0px rgba(50, 50, 50, 0.36);
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
        width: 100%;
        top: 72px;
    }
    .user__sidebar__wrap{
        display: block;

    }
}
@media (min-width: 768px) {
    .sidebar {
        width: 16.66666667%;
        top: 134px;
    }
    .user__sidebar__wrap{
        display: none;
    }
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
        background-color: transparent !important;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        margin-right: -2px;
        min-width: 127px;
    }
}
.input-budjet__wrap{
    margin: 20px 0px;
    padding: 0px !important;
    text-align: left !important;
}
.input-budjet__header{
    background-color: #E0E0E0;
    padding: 10px 20px;
}
.input-budjet__header h2{
    margin: 0;
}
.input-budjet__body{
    padding: 10px 20px;
}
.profile__item{
    text-align: left !important;
    overflow: hidden;
    position: relative;
}
.profile__item_ref:after{
    content: "";
    background: transparent;

    position: absolute;
    left: 0;
    bottom: -50px;

    border-bottom: 250px solid transparent;
    border-left: 250px solid red;
}
.profile__item_passport_data_form,
.close_passport_data_form{
    display: none;
}
.edit_passport_data:hover,
.close_passport_data_form:hover{
    cursor: pointer;
}
.passport_data_scans_button{
    display: none !important;
}
.passport_data_scans_label{
    float: right;
}
.datepicker{
    background-color: #fff !important;
}
.datepicker td, .datepicker th{
    border-radius: 0px;
}
.datepicker table tr td span{
    border-radius: 0px;
}
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover{
    background-color: #00B600 !important;
    background-image: none !important;
}
td.day.active{
    background-color: #00B600 !important;
    background-image: none !important;
}
.profile_scan_img__wrap{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 5px;
}
.profile_scan_img{
    height: 100%;
}
.profile_scan_status{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    position: absolute;
    top: -10px;
    right: -10px;
}
.profile_scan_status_ok{
    background-color: #00B600;
}
.profile_scan_status_not_ok{
    background-color: red;
}

.profile_status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    display: inline-block;
}
.profile_status_ok{
    background-color: #00B600;
    font-size: 10px;
}
.profile_status_not_ok{
    background-color: red;
    font-size: 10px;
}
.edit_passport_data,
.close_passport_data_form{
    position: absolute;
    top: 10px;
    right: 10px;
}

.countries_flag_header{
    width: 16px !important;
}
.pb0{
    padding-bottom: 0;
}
.nb li{
    border: 0px !important;
}
.mt20{
    margin-top: 20px;
}
.user_select{
    width: 100%;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0px;
    height: 40px;
    padding-top: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}
.select2-dropdown {
    border-radius: 0px;
}